@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url(../assets/font/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url(../assets/font/Pretendard-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: bold;
  src: url(../assets/font/Pretendard-Bold.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  &::-webkit-scrollbar {
    background: transparent;
    width: 4px;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;
  color: #000;
  /* 아이폰에 reset font가 설정이 안되는 경우기 있어 설정해주어야 함 */
  -webkit-text-size-adjust: none;
}

p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, select, button, code, label, em, span, strong {
  word-break: keep-all; /* 단어 단위로 떨어져 내리게끔 */
}

img, fieldset {
  border: 0; /* 익스플로러 하위 버전에서 a > img일 경우 보더가 생김 */
}

legend {
  position: absolute;
  left: -9999px;
  font-size: 0;
  overflow: hidden;
}

input, select, textarea {
  /* 모바일 기본 제공 스타일 제거 */

  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

/* IE 셀렉박스 기본 화살표 제거 */

em, var, address, i {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

legend, fieldset, button {
  border: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: top;
}

input, select, textarea, button, label, strong, a, time {
  vertical-align: inherit;
}

input, select, textarea, button, option {
  font-family: inherit;
  font-weight: inherit;
}

input, select, textarea {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border: 0px;
}

textarea {
  &:focus {
    outline-style: none;
    box-shadow: none;
    border: 0px;
  }

  resize: none;
  border: none;
}

button, select, option {
  color: inherit;
  text-transform: none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0 6px;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: visible;
  outline: none;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

input {
  width: 100%;
  height: 28px;
  padding: 12px;
  transition: 0.35s;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  font-size: 12px;
  background: #fff;

  &::placeholder {
    color: #d9d9d9;
  }

  &:focus {
    border: 1px solid #333;
  }

  &:read-only {
    background: #e9e9e9;
    border-color: #9c9b9b;
  }

  &[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #d0d5dd;
    background-color: #fff;
    transition: 0.15s;

    &:checked {
      background: url(../assets/images/ico_check_white.svg) no-repeat (center / 10px);
      background-color: #4f32ff;
      border: none;
      transition: .25s;
    }
  }

  &[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #d0d5dd;
    background-color: #fff;
    transition: none;

    &:checked {
      border-color: transparent;
      background: url(../assets/images/ico_radio_checked.svg) no-repeat (center / 16px);
    }
  }
}

/* 2025-02-27 */
.certiRadio {
  -webkit-appearance: auto;
  width: 14px;
  height: 14px;
  margin: 0;
  vertical-align: middle;
}

/* 여백 정의 */

.mgt8 {
  margin-top: 8px !important;
}
